# ===== ВИРТУАЛЬНОЕ ОКРУЖЕНИЕ (обязательно!) =====
venv/
env/
.venv/
ENV/

# ===== БАЗА ДАННЫХ =====
db.sqlite3
db.sqlite3-journal

# ===== СЕКРЕТНЫЕ ФАЙЛЫ =====
.env
local_settings.py
*.key

# ===== PYTHON МУСОР =====
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# ===== DJANGO =====
*.log
/static/
/staticfiles/
/media/

# ===== РЕДАКТОРЫ =====
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db